* {
    margin: 0;
    padding: 0;
}

#fof {
	margin: 20px 0 120px;
	text-align: center;
}

#fof div {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	
	background: #000;
}

#fof canvas {
	position: relative;
	width: 100%;
	height: 100%;
	margin-bottom: 20px;
	z-index: 1;
	
	background: #000;
}